.splash-screen {
  --background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100vh; // isi seluruh tinggi layar
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; // posisi vertikal tengah
  align-items: center;     // posisi horizontal tengah
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 160px;
  height: auto;
  border-radius: 20px; // sudut tidak lancip
  object-fit: cover;
  margin-bottom: 15px;
}

.welcome-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}